<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox-plus-jquery.min.js" type="text/javascript" />
    <script type="text/javascript">
      lightbox.option({
        'resizeDuration': 100,
        'fadeDuration': 100,
        'wrapAround': true,
        'showImageNumberLabel': false
      })
    </script>

  </body>

</html>
